
.my-challenge-wrapper{
    .rc-tabs-top{
        .rc-tabs-tabpane{
            padding: 0 30px;
        }
        .rc-tabs-nav-wrap{
            display: flex;
        }
        .rc-tabs-nav-scroll{
            display: flex;
        }
        .rc-tabs-tab{
            color: white;
            padding: 0px 35px !important;
            margin: 0;;
        }
    }
    .rc-tabs-ink-bar{
        display: none !important;
    }
    .rc-tabs-tab-active{
        color:black !important;
        background-color: white;
    }
    .rc-tabs-nav{
        margin: 0 auto;
        border: 1px solid #76c047;
        border-radius: 4px;
    }
}
.running-challenge-info{
    .rc-tabs-tab:hover{
        color: white;
    }
    .rc-tabs-tab-active{
        color:white !important;
    }
}
.rc-tabs-top{
    border: none;
    .rc-tabs-bar{
        border: none;
    }
}